<form>
  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <label class="form-control-label">URl<span class="form-asterisk">*</span>
        </label>
        <input required="required" class="form-control" placeholder="Fabelio URL" name="name" type="text" [(ngModel)]="url">
      </div>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Add" (click)="add()" [disabled]="url === ''" *ngIf="!loading">
      <input class="btn btn-primary" type="submit" *ngIf="loading" value="Please wait...">
    </div>
  </div>
</form>
